@font-face {
    font-family: 'Raleway-Light';
    src: url('assets/Raleway-Light.ttf');
}
html {
    background: rgb(139, 98, 81);    
    font-family: 'Raleway-Light';
    color: rgb(10, 9, 8);
}
header {
    background-color: #555253;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
h1 {
    font-size: 2em;
    color: rgb(10, 9, 8);
}
.menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}
.menu li {
    display: inline;
}
.menu li a {
    font-size: 1.3em;
    color:rgb(10, 9, 8);
}
.menu li a:hover {
    color:rgb(126, 134, 134);
}
.the_best_movie {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 0.3em solid black
}
.best_movie_title {
    text-align: center;
}
.best_movie_summary {
    text-align: center;
}
.play_btn, .more_info_btn {
    background-color: rgb(182, 14, 14);
    color : rgb(233, 206, 206);
    width: 7em;
    border-radius: 1em;
    border: 1px solid;
}
footer {
    position: relative;
    height: 100px;
}
.footer__logo {
    position: absolute;
    height: 100px;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (max-width: 670px) {
    .the_best_movie {
        display: block;
    }    
}