$color-background: rgb(125,59,32);
$color-background-gradient1 : rgba(204,125,77,1);
$color-background-gradient2 : rgba(232,242,31,1);
$color-font: rgb(10, 9, 8);
$block-transparency: 40%;
$color-hover: rgb(126, 134, 134);
$color-border: rgba(0, 0, 0, 0.637);
$color-btn-background: rgb(182, 14, 14);
$color-btn: rgb(233, 206, 206);