.the_best_movie {
    display: grid;
    grid-template-columns: 1fr 2fr;
    @media screen and (max-width: map-get($breakpoints, max-value-best)) {
        display: block;
    }
    border: 0.2rem solid $color-border;
    &__data {
        position: relative;
        &__title {
            text-align: center;
        }
        &__summary {
            text-align: center;
        }
        &__play_btn {
            background-color: $color-btn-background;
            color : $color-btn;
            width: 7rem;
            border-radius: 1rem;
            border: 1px solid;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
    }
    &__img {
        margin: 0 auto
    }
}

.caroussel {
    display:grid;
    grid-template-columns: 100px 1fr 100px;
    align-content: center;
    margin-top: 20px;
    position: relative;    

    h2 {
        grid-column: 2;
    }

    .left_button {
        visibility: hidden;
        grid-column: 1;
        margin:auto;
        &:hover {
            cursor : pointer;
            transition: 0.5s ease;
            transform: scale(1.2);
        }
    }

    .right_button {
        grid-column: 3;
        margin: auto;
        &:hover {
            cursor : pointer;
            transition: 0.5s ease;
            transform: scale(1.2);
        }
    }

    .category_movies{
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        grid-gap: $movie_space_between;
        align-content: center;
        width: calc($movie_width*4 + $movie_space_between*3);
        @media screen and (max-width: map-get($breakpoints, max-value-4container)) {
            width: calc($movie_width*3 + $movie_space_between*2);
        }   
        @media screen and (max-width: map-get($breakpoints, max-value-3container)) {
            width: calc($movie_width*2 + $movie_space_between);
        }      
        overflow: auto;
        overflow-x: hidden;
        transition: 0.5 ease;
        margin: auto;
    }
}





