$color-background: rgb(125,59,32);
$color-background-gradient1 : rgba(204,125,77,1);
$color-background-gradient2 : rgba(232,242,31,1);
$color-font: rgb(10, 9, 8);
$block-transparency: 40%;
$color-hover: rgb(126, 134, 134);
$color-border: rgba(0, 0, 0, 0.637);
$color-btn-background: rgb(182, 14, 14);
$color-btn: rgb(233, 206, 206);

$fontsize-title: 2rem;
$fontsize-menu: 1.3rem;

$movie_width: 182px;
$movie_height: 268px;
$movie_space_between: 5px;

$breakpoints: (
    max-value-menu: 730px,
    max-value-best: 670px,
    max-value-caroussel : 970px,
    max-value-container : 776px
);